In [1]:
import pandas as pd

a = pd.DataFrame({'C1':['A','B','C'],
                  'C2':['x','y','z']})
b = pd.DataFrame({'C1':['A','B','D'],
                  'C3':[11,12,13]})

In [2]:
a

  C1 C2
0  A  x
1  B  y
2  C  z

In [3]:
b

  C1  C3
0  A  11
1  B  12
2  D  13

In [6]:
left = pd.merge(a, b, how="left", on="C1")
left

  C1 C2    C3
0  A  x  11.0
1  B  y  12.0
2  C  z   NaN