In [1]:
import pandas as pd

df = pd.read_csv("./acs_5yr_hh_income.csv.gz")
df.head(30)

,YEAR,MULTYEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,HHINCOME
0,2019,2015,201903,1,2015000000067,9.0,2019000000013,270101,1,56599
1,2019,2015,201903,1,2015000000067,9.0,2019000000013,270101,1,56599
2,2019,2015,201903,1,2015000000067,9.0,2019000000013,270101,1,56599
3,2019,2015,201903,1,2015000000067,9.0,2019000000013,270101,1,56599
4,2019,2015,201903,2,2015000000160,15.0,2019000000023,100001,1,9496

In [62]:
df.HHINCOME.describe()

count    1.594762e+07
mean     5.703719e+05
std      2.100554e+06
min     -2.290500e+04
25%      4.261500e+04
50%      8.061900e+04
75%      1.405000e+05
max      9.999999e+06
Name: HHINCOME, dtype: float64

In [3]:
hh = df.drop_duplicates(["SAMPLE", "SERIAL"])

In [40]:
hh.head(20)

,YEAR,MULTYEAR,SAMPLE,SERIAL,CBSERIAL,HHWT,CLUSTER,STRATA,GQ,HHINCOME
0,2019,2015,201903,1,2015000000067,9.0,2019000000013,270101,1,56599
4,2019,2015,201903,2,2015000000160,15.0,2019000000023,100001,1,9496
5,2019,2015,201903,3,2015000000345,29.0,2019000000033,100001,1,14244
6,2019,2015,201903,4,2015000000463,6.0,2019000000043,270101,1,168340
9,2019,2015,201903,5,2015000000477,13.0,2019000000053,110001,1,15107
10,2019,2015,201903,6,2015000000518,37.0,2019000000063,10001,1,47265
14,2019,2015,201903,7,2015000000535,18.0,2019000000073,100001,1,32265
16,2019,2015,201903,8,2015000000566,2.0,2019000000083,50001,1,18237
17,2019,2015,201903,9,2015000000717,24.0,2019000000093,190001,1,118162
21,2019,2015,201903,10,2015000000806,15.0,2019000000103,30201,1,58272
22,2019,2015,201903,11,2015000000810,3.0,2019000000113,250001,1,125176
26,2019,2015,201903,12,2015000000848,33.0,2019000000123,130101,1,41438
27,2019,2015,201903,13,2015000001014,25.0,2019000000133,130401,1,39603
30,2019,2015,201903,14,2015000001052,4.0,2019000000143,260001,4,9999999
31,2019,2015,201903,15,2015000001160,19.0,2019000000153,130501,1,26222
36,2019,2015,201903,16,2015000001215,3.0,2019000000163,250001,1,0
37,2019,2015,201903,17,2015000001563,18.0,2019000000173,270301,1,19424
38,2019,2015,201903,18,2015000001610,49.0,2019000000183,270201,1,42085
39,2019,2015,201903,19,2015000001619,21.0,2019000000193,150001,1,147190
43,2019,2015,201903,20,2015000001685,11.0,2019000000203,140001,1,33668

In [41]:
len(hh)

6989126

In [42]:
len(hh[hh.HHINCOME ==9999999 ])

752189

In [43]:
hh[hh.HHINCOME.isnull()]

Empty DataFrame
Columns: [YEAR, MULTYEAR, SAMPLE, SERIAL, CBSERIAL, HHWT, CLUSTER, STRATA, GQ, HHINCOME]
Index: []

In [44]:
hh.HHINCOME.isnull().sum()

0

In [51]:
flat = hh.sample(n=1_000_000, weights=df["HHWT"])
len(flat)

1000000

In [52]:
flat.HHINCOME.isnull().sum()

0

In [53]:
flat = flat[flat.HHINCOME!=9999999]

In [54]:
len(flat)

933695

In [55]:
flat.HHINCOME.describe()

count    9.336950e+05
mean     8.829896e+04
std      9.683467e+04
min     -1.694200e+04
25%      3.128800e+04
50%      6.257600e+04
75%      1.109320e+05
max      2.410903e+06
Name: HHINCOME, dtype: float64

In [56]:
flat.HHINCOME.isnull().sum()

0

In [57]:
flat.HHINCOME.to_csv(
    "../../class_2/week_2/data/us_household_incomes.txt", header=False, index=False
)

In [58]:
import numpy as np

In [60]:
v= np.loadtxt("../../class_2/week_2/data/us_household_incomes.txt")
v

array([ 53308., 102050., 192994., ..., 407460.,  19856., 154754.])

In [61]:
v.shape

(933695,)

In [69]:
np.percentile(v, 50)

62576.0

In [67]:
v = np.sort(v)